.form{
    background-color: #75A856;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: rem(115);

    @include tablet{
        padding: rem(70);
        flex-wrap: wrap;
    }

    @include tablet_small{
        padding: rem(30) rem(20);
    }

    &__left{
        width: 44.6%;

        @include tablet{
            width: 100%;
        }

        &__title{
            width: 100%;
            font-size: rem(38);
            line-height: 135%;
            font-family: $font_second;
            color: #FFFFFF;
            margin-bottom: rem(30);

            @include tablet{
                font-size: rem(28);
                margin-bottom: rem(15);
            }

            @include tablet_small{
                font-size: rem(24);
            }
        }

        &__text{
            font-size: rem(18);
            line-height: 170%;
            color: #FFFFFF;

            @include tablet{
                font-size: rem(14);
                margin-bottom: rem(30);
            }
        }
    }

    &__right{
        width: 42.1%;

        @include tablet{
            width: 100%;
        }

        &__input{
            display: block;
            width: 100%;
            margin-bottom: rem(40);
            border: none;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: rem(15);
            font-size: rem(14);
            line-height: 150%;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            font-family: $font_second;
            color: #FFFFFF;
            background-color: transparent;

            &::placeholder{
                font-size: rem(14);
                line-height: 150%;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                font-family: $font_third;
                color: #FFFFFF;
            }

            &:focus{
                outline: none;
            }

            @include tablet{
                margin-bottom: rem(30);
                font-size: rem(12);
                padding-bottom: rem(12);

                &::placeholder{
                    font-size: rem(12);
                }

            }
        }

        &__submit{
            width: 100%;
            background-color: transparent;
            font-size: rem(14);
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            color: #FFFFFF;
            height: rem(70);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-align: center;
            margin-bottom: rem(31);
            border: 1px solid #FFFFFF;        
            transition: all .3s;

            &:hover{
                background-color: white;
                color: #323232;;
            }
    

            @include tablet{
                font-size: rem(12);
                height: rem(65);
                margin-bottom: rem(20);
            }
        }

        &__policy{
            font-size: 14px;
            line-height: 170%;
            color: #FFFFFF;
        }
    }
}